.contacto {
  background-color: #f4f4f4;
  padding: 3rem 2rem;
  color: #2e4e2f;
  text-align: left;
}
.contacto h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
.contacto h3 {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
.form-contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1000px;
  margin: auto;
  align-items: flex-start;
}
.form-contacto form {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
}
.form-contacto input,
.form-contacto textarea {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.form-contacto button {
  background-color: #6d8e72;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
.form-contacto .info-extra {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info-extra img {
  width: 20px;
  vertical-align: middle;
  margin-right: 0.5rem;
}
/* Apartado de mejora */
.siguenos-contacto {
  margin-top: 2rem;
  text-align: left;
  padding-left: 2rem;
}

.siguenos-contacto h3 {
  font-family: serif;
  color: #2e4e2f;
  margin-bottom: 0.5rem;
}

.redes i {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #2e4e2f;
}

.planta-derecha {
  flex: 1 1 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}



/* Rotacion imagen */

.planta-derecha img {
  max-width: 150%;
  height: auto;
  transform: rotate(90deg) !important;

  object-fit: contain;
  display: block;
  margin: 0 auto;
}
.form-contacto {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 180px; /* deja espacio para la imagen */
}

.planta-derecha {
  position: absolute;
  top: 200px;
  right: 0;
  height: 100%;
  z-index: 0;
  pointer-events: none; /* que no estorbe al hacer clic */
}

.planta-derecha img {
  height: 130%;
  object-fit: cover;
  opacity: 1;
}

.formulario-contenedor {
  z-index: 1;
  flex: 1;
}
/* responsive */
@media (min-width: 768px) {
  .nav-links {
    display: flex;
  }
  .hamburger {
    display: none;
  }
}
